.Details {
    width: 89%;
    margin: 0 auto;
    margin-bottom: 2em;
    line-height: 2em;
}

.details-header {
    margin-top: 2em;
    line-height: 2.5em;
}

.details-header h1 {
    font-size: 2.5rem;
}

.date-location {
    margin-top: 1em;
}

.content {
    display: flex;
    margin-top: .5em;
}

.content>div {
    width: 20%;
}

.content>div {
    display: grid;
    grid-template-columns: auto auto;
}

.map-image {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin-top: 1.5em;
}

.map-image img {
    width: 100%;
    height: 500px;
}


.map {
    width: 100%;
    background-color: gray;
}

iframe {
    width: 100%;
    height: 500px;
}

.mapouter {
    text-align: right;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
}


.details-description {
    margin-top: 1em;
}

.details-description h1 {
    margin-bottom: .5em;
}

.tickets {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}