/* Events */
.events-container {
    margin-top: 4em;
    margin-bottom: 1em;
}

.search-section {
    margin-bottom: 2em;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-header {
    margin-bottom: 2em;
    font-size: 1.1em;
}

.events-header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.events-header p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.search-bar {
    width: 20%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 14px;
    outline: none;
}

.search-button {
    height: 40px;
    background-color: #1406FA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 0 20px;
}

.events {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    line-height: 2em;
}

.xxx {
    height: 30vh;
    text-align: center;
}

.events div {
    padding: 3px;
}

.image img {
    width: 100%;
    height: 230px;
}

.image img:hover {
    cursor: pointer;
}

/* Make the layout responsive */
@media (max-width: 600px) {
    .events {
        grid-template-columns: auto;
        width: 80%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .events {
        width: 80%;
        grid-template-columns: auto auto;
    }

    .events>div>img {
        height: 180px;
    }
}

@media (min-width: 1024px) and (max-width: 1250px) {
    .events {
        grid-template-columns: auto auto auto;
    }
}

/* button */

.load-more {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.load-more button {
    background-color: #1406FA;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 858px) {
    .search-bar {
        width: 40%;
    }
}