.footer {
    background-color: #1406FA;
    padding-top: 1em;
    color: white;
    line-height: 2em;
}

.footer-details {
    width: 89%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
}

.copyright {
    text-align: center;
}

@media (max-width: 858px) {
    .footer-details {
        grid-template-columns: auto;
    }
    .footer-details div {
        margin-top: 1em;
    }
}