section {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp6jv-4skVuc3ploaGiSYW5ky7IOoqxtVsKQ&usqp=CAU') no-repeat;
    /* background-color: gray; */
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 45vh;
    background-repeat: no-repeat;
}

.welcome-msg {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 4em;
    color: white;
    font-size: 1.3em;
    line-height: 2em;
}

.welcome-msg h1 {
    margin-bottom: 1em;
}