.reg-container {
    background-color: white;
    width: 30%;
    margin: 0 auto;
    border-radius: 6px;
}

.reg-container > form {
    width: 90%;
    margin: 20vh auto 0 auto;
    padding: 20px;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: black;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #1406FA;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.input-control > label {
    margin-bottom: 5px;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: aqua;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 9px;
    height: 13px;
}

@media (max-width: 858px) {
    .reg-container {
        width: 60%;
    }
    .reg-container > form {
        width: 100%;
        /* padding: 10px; */
    }
}